./doxy/*
./doxy/html/*
./doxy/html/search/*
./old/*
*.doxyfile
.buildpath
.gitattributes
.project
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.travis.yml
*.html
*.png
./logs/*
sonar-zombicide.properties
./core/daoimpl/requests.php