./doxy/*
./old/*
*.doxyfile
.buildpath
.gitattributes
.project
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.travis.yml
*.html
*.png
doxy/html/doxygen.css
doxy/html/installdox
doxy/html/jquery.js
doxy/html/search/search.css
doxy/html/search/search.js
doxy/html/tabs.css
old/core/actions/AdminMissionPageActions.php
old/core/actions/EquipmentActions.php
old/core/actions/ExpansionActions.php
old/core/actions/InvasionActions.php
old/core/actions/MissionActions.php
old/core/actions/MissionLiveActions.php
old/core/actions/RuleActions.php
old/core/actions/SkillActions.php
old/core/actions/SurvivorActions.php
old/core/actions/SurvivorLiveActions.php
old/core/actions/TileActions.php
old/core/actions/ToolEquipmentActions.php
old/core/actions/ToolInvasionActions.php
old/core/bean/AdminEquipmentPageBean.php
old/core/bean/AdminExpansionPageBean.php
old/core/bean/AdminInvasionPageBean.php
old/core/bean/AdminMissionPageBean.php
old/core/bean/AdminOnlinePageBean.php
old/core/bean/AdminPageBean.php
old/core/bean/AdminRulePageBean.php
old/core/bean/AdminSkillPageBean.php
old/core/bean/AdminSurvivorPageBean.php
old/core/bean/AdminTilePageBean.php
old/core/bean/EquipmentBean.php
old/core/bean/ExpansionBean.php
old/core/bean/InvasionBean.php
old/core/bean/PageEquipmentBean.php
old/core/bean/PageInvasionBean.php
old/core/bean/PageMissionBean.php
old/core/bean/PageSkillBean.php
old/core/bean/PageSurvivorBean.php
old/core/bean/PageToolEquipmentBean.php
old/core/bean/PageToolMissionBean.php
old/core/bean/PageToolSkillBean.php
old/core/bean/PageToolSurvivorBean.php
old/core/bean/PostPageBean.php
old/core/bean/RuleBean.php
old/core/bean/SkillBean.php
old/core/bean/SurvivorBean.php
old/core/bean/SurvivorLiveBean.php
old/core/daoimpl/EquipmentDaoImpl.php
old/core/daoimpl/EquipmentExpansionDaoImpl.php
old/core/daoimpl/EquipmentLiveDaoImpl.php
old/core/daoimpl/EquipmentWeaponProfileDaoImpl.php
old/core/daoimpl/GenKeyDaoImpl.php
old/core/daoimpl/InvasionDaoImpl.php
old/core/daoimpl/InvasionLiveDaoImpl.php
old/core/daoimpl/MissionLiveDaoImpl.php
old/core/daoimpl/MissionLiveTokenDaoImpl.php
old/core/daoimpl/MissionTokenDaoImpl.php
old/core/daoimpl/MissionZoneDaoImpl.php
old/core/daoimpl/RuleDaoImpl.php
old/core/daoimpl/SkillDaoImpl.php
old/core/daoimpl/SurvivorDaoImpl.php
old/core/daoimpl/SurvivorLiveDaoImpl.php
old/core/daoimpl/SurvivorLiveSkillDaoImpl.php
old/core/daoimpl/TokenDaoImpl.php
old/core/daoimpl/WeaponProfileDaoImpl.php
old/core/daoimpl/ZombicideTableDaoImpl.php
old/core/daoimpl/ZoneDaoImpl.php
old/core/domain/Equipment.class.php
old/core/domain/EquipmentCard.class.php
old/core/domain/EquipmentExpansion.class.php
old/core/domain/EquipmentLive.class.php
old/core/domain/EquipmentWeaponProfile.class.php
old/core/domain/GenKey.class.php
old/core/domain/InvasionCard.class.php
old/core/domain/InvasionLive.class.php
old/core/domain/MissionLive.class.php
old/core/domain/MissionLiveToken.class.php
old/core/domain/MissionToken.class.php
old/core/domain/MissionZone.class.php
old/core/domain/SurvivorLive.class.php
old/core/domain/SurvivorLiveSkill.class.php
old/core/domain/SurvivorSkill.class.php
old/core/domain/Token.class.php
old/core/domain/WeaponProfile.class.php
old/core/domain/ZombicideTable.class.php
old/core/domain/Zone.class.php
old/core/services/EquipmentExpansionServices.php
old/core/services/EquipmentLiveServices.php
old/core/services/EquipmentServices.php
old/core/services/EquipmentWeaponProfileServices.php
old/core/services/GenKeyServices.php
old/core/services/InvasionLiveServices.php
old/core/services/InvasionServices.php
old/core/services/MissionLiveServices.php
old/core/services/MissionLiveTokenServices.php
old/core/services/MissionTokenServices.php
old/core/services/MissionZoneServices.php
old/core/services/SurvivorLiveServices.php
old/core/services/SurvivorLiveSkillServices.php
old/core/services/TokenServices.php
old/core/services/WeaponProfileServices.php
old/core/services/ZombicideTableServices.php
old/core/services/ZoneServices.php
old/web/pages/admin/admin-panel.php
old/web/pages/admin/equipment/edit.php
old/web/pages/admin/equipment/header.php
old/web/pages/admin/equipment/row.php
old/web/pages/admin/expansion/edit.php
old/web/pages/admin/expansion/header.php
old/web/pages/admin/expansion/row.php
old/web/pages/admin/fragments/admin-tab-content.php
old/web/pages/admin/fragments/admin-table.php
old/web/pages/admin/fragments/dashboard.php
old/web/pages/admin/fragments/tab-content.php
old/web/pages/admin/fragments/tablenav.php
old/web/pages/admin/invasion/edit.php
old/web/pages/admin/invasion/header.php
old/web/pages/admin/invasion/row.php
old/web/pages/admin/mission/edit.php
old/web/pages/admin/mission/header.php
old/web/pages/admin/mission/row.php
old/web/pages/admin/mission/special-mission-panel.php
old/web/pages/admin/online/header.php
old/web/pages/admin/online/row.php
old/web/pages/admin/online/tab-content.php
old/web/pages/admin/rule/edit.php
old/web/pages/admin/rule/header.php
old/web/pages/admin/rule/row.php
old/web/pages/admin/skill/edit.php
old/web/pages/admin/skill/header.php
old/web/pages/admin/skill/row.php
old/web/pages/admin/survivor/edit.php
old/web/pages/admin/survivor/header.php
old/web/pages/admin/survivor/row.php
old/web/pages/admin/tab-content.php
old/web/pages/admin/tile/edit.php
old/web/pages/admin/tile/header.php
old/web/pages/admin/tile/row.php
old/web/pages/public/fragments/article-equipment-card-extract.php
old/web/pages/public/fragments/article-invasion-card-extract.php
old/web/pages/public/fragments/article-skill-extract.php
old/web/pages/public/fragments/article-survivor-extract.php
old/web/pages/public/fragments/cartouche-survivor-extract.php
old/web/pages/public/mission-live/board-article-survivant-xp-equipment.php
old/web/pages/public/mission-live/board-article-survivant.php
old/web/pages/public/mission-live/game-interface-t0.php
old/web/pages/public/mission-live/menu-content.php
old/web/pages/public/mission-live/menu-li-survivor.php
old/web/pages/public/mission-live/popup-selection.php
old/web/pages/public/mission-live/setup-nav.php
old/web/pages/public/mission-live/setup-step-1.php
old/web/pages/public/mission-live/setup-step-2.php
old/web/pages/public/mission-live/setup-step-3.php
old/web/pages/public/mission-live/setup-step-4.php
old/web/pages/public/mission-live/setup-step-5.php
old/web/pages/public/page-equipments.php
old/web/pages/public/page-invasions.php
old/web/pages/public/page-mission-live.php
old/web/pages/public/page-missions.php
old/web/pages/public/page-skills.php
old/web/pages/public/page-survivor.php
old/web/pages/public/page-survivors.php
old/web/pages/public/page-tool-equipments.php
old/web/pages/public/page-tool-mission.php
old/web/pages/public/page-tool-skill.php
old/web/pages/public/page-tool-survivor.php
old/web/pages/public/public-footer.php
old/web/pages/public/public-header.php
sonar-zombicide.properties
